@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-height: 100vh; 
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: #0C0C0C;
    background-image: url('../assets/images/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: "Inter", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5%;
}

nav ul {
    display: flex;
    list-style: none;
}


nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #EAEFEF;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
}

.bento-grid {
    border: 1px solid rgba(255, 255, 255, );
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px 250px 250px;
    gap: 16px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #EAEFEF;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    padding: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* icon arrow */
.icon-arrow {
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
    transform: scale(1.01);
}

.card:hover .icon-arrow {
    transform: translate(5px, -5px) rotate(-45deg);
    color: #F25912;
}


/* Profile card */
.profile-card {
    grid-column: span 2;
    grid-row: span 2;
    align-items: flex;
    justify-content: center;
    background-image: linear-gradient(120deg, #222222 0%, #0C0C0C 100%);
}

.profile-inner {
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.profile-img {
    width: 282px;
    height: 282px;
    object-fit: cover;
    border-radius: 16px;
    opacity: 0.9;
}

.sub-text { 
    font-size: 0.85rem; color: #aaa; letter-spacing: 0.5px; 
}

.sub-text-faint { 
    font-size: 0.75rem; color: #555; margin-top: 5px; display: block;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 500;
    margin: 10px 0;
    color: white;
}

/* Quote card */
.quote-card {
    grid-column: span 2;
    background-color: #222222;
}

/* projects card */
.projects-card {
    grid-column: span 2;
    background-image: linear-gradient(120deg, #222222 0%, #0C0C0C 100%);
    cursor: pointer;
}

.project-icon-large {
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 0;
}

.folder-img {
    width: 160px;
    height: auto;
    transform: rotate(-15deg);
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.projects-card:hover .folder-img{
    width: 240px;
    transform: rotate(0);
}

/* gear card */
.gear-card {
    grid-column: span 1;
    background-image: linear-gradient(120deg, #222222 0%, #0C0C0C 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* cta card */
.cta-card {
    justify-content: center;
    grid-column: span 3;
    align-items: flex;
    cursor: pointer;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #222222, #0C0C0C, #0C0C0C, #F25912);
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.icon-arrow-cta {
    position: absolute;
    color: white;
    right: 25px;
    bottom: 25px;
    font-size: 28px;
}

.cta-card:hover {
    background-position: 100% 0;
}

/* responsive */